emailモジュール説明文の表示が乱れています。

<!--
問題の報告には、以下のテンプレートをご利用ください。

どうしても形式に沿えない場合や項目を増やしたい場合は、
その旨が伝わるように記述してください。

本文がこのテンプレートに沿っていない場合、issue がクローズされることがあります。
-->

# 概要

rstのロール名がブラウザの表示に見えてしまっています。
ブラウザ(chrome)での表示をコピーすると、
============
[email](https://docs.python.org/ja/3/library/email.html#module-email) パッケージは、電子メールメッセージを管理するライブラリです。 特に、SMTP（[:rfc:`2821）、NNTP、またはその他のサーバーに電子メールメッセージを送信するようには設計されていません。これらは、:mod:`smtplib`](https://docs.python.org/ja/3/library/email.html#id1) や、 [nntplib](https://docs.python.org/ja/3/library/nntplib.html#module-nntplib) などのモジュールの関数群です。 [email](https://docs.python.org/ja/3/library/email.html#module-email) パッケージは、可能な限りRFCに準拠するよう試みています。 [:rfc:`5322`や :rfc:`6532`](https://docs.python.org/ja/3/library/email.html#id3) のほか、[RFC 2045](https://tools.ietf.org/html/rfc2045.html)、[RFC 2046](https://tools.ietf.org/html/rfc2046.html)、[RFC 2047](https://tools.ietf.org/html/rfc2047.html)、[RFC 2183](https://tools.ietf.org/html/rfc2183.html)、[RFC 2231](https://tools.ietf.org/html/rfc2231.html) などのMIME関連のRFCに対応しています。
============
となっています。"[:rfc:`2821）、NNTP、またはその他のサーバーに電子メールメッセージを送信するようには設計されていません。これらは、:mod:`smtplib`]"が一つのリンクになっていることがご覧いただけると思います。

# [問題のある箇所 (URLで指定すること)]

(https://docs.python.org/ja/3/library/email.html)

# 問題の詳細
問題の場所で、

SMTP（[:rfc:`2821）、

の様に、backquote "`" が閉じられていません。また、閉じかっこが2byte codeの"）”になっています。
これは、

 :rfc:`5322`や

でもbackquoteの直後に2bytesコードが続いています。

# 修正案
rstのソースコードで、

"SMTP（[:rfc:`2821）、"　→  "SMTP（[:rfc:`2821` ）、"

および

" :rfc:`5322`や"  →  " :rfc:`5322` や"

とする。(不足しているbackquteを追加し、閉じるbackquoteの後に1byteのspace" "を追加する。）




ありがとうございます。
修正しました。


対応ありがとうございました。